*{
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
}

.header-top {
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 25px;
}

.header-top ul {
  list-style-type: none;
  position: absolute;
  top: 3px;
  right: 65px;
}

.header-top li {
  display: inline;
  padding-left: 60px;
  color: white;
  font-family: 'Exo';
  font-weight: 300;
}

.header-bottom {
  background-color: #E5E5E5;
  width: 100%;
  height: 55px;
}

.header-bottom ul {
  list-style-type: none;
  position: absolute;
  top: 40px;
  right: 30px;
}

.header-bottom li {
  display: inline;
  padding-left: 40px;
  color: #707070;
  font-size: 21px;
  font-family: 'Exo';
  font-weight: 300;
}

.header-bottom a:link {
  color: black;
  text-decoration: none;
}

.header-bottom a:visited {
  color: black;
  text-decoration: none;
}

.header-bottom a:hover {
  color: black;
  text-decoration: none;
}

.header-bottom a:active {
  color: black;
  text-decoration: none;
}

.header-bottom h1 {
  position: absolute;
  left: 145px;
  top: 34px;
  font-size: 32px;
  font-family: 'Exo';
  font-weight: 600;
  color: #707070;
}

.background {
  background-image: url("../images/background.jpg");
  height: 900px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 80px;
}

.div-form {
  position: absolute;
	top: 50%;
	left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.75);
  padding: 50px;
  border-radius: 15px;
}

.div-form p {
  font-family: 'Nunito Sans';
  text-align: center;
  font-size: 32px;
  color: #D5D5D5;
}

.div-form .search-box {
  height: 31px;
  width: 320px;
  border-radius: 3px;
  margin-top: 20px;
}

.div-form .submit-button {
  height: 34px;
  width: 80px;
  background-color: #46EADA;
  color: white;
  border: 2px solid #46EADA;
  border-radius: 3px;
}

.div-form .submit-button:hover {
  cursor: pointer;
}

.features-header h1 {
  display: inline-block;
  position: relative;
  color: #707070;
  font-family: 'Nunito Sans';
  margin: 80px 0 0 142px;
  font-size: 36px;
}

.features-header ul {
  display: inline-block;
  text-align: right;
  position: absolute;
  right: 158px;
  margin-top: 80px;
}

.features-header ul li {
  display: inline-block;
}

.features-header ul li:nth-child(3) a {
  color: #46EADA;
}

.features-header ul a {
  display: inline-block;
  text-decoration: none;
  margin-left: 44px;
  color: #707070;
  font-size: 24px;
  font-family: 'Nunito Sans';
  font-weight: 400;
}

.catalog-preview {
  display: flex;
  justify-content: space-between;
  margin: 64px 142px 185px 142px ;
}

.catalog-preview .product-tile {
  background-color: #F5F5F5;
  font-family: 'Nunito Sans';
  font-weight: 600;
  width: 533px;
}

.product-tile .product-price {
  display: inline-block;
  margin: 16px 0 0 30px;
}

.product-tile .product-price p {
  font-family: 'Nunito Sans';
  font-weight: 300;
  font-size: 18px;
}

.product-tile .product-price span {
  font-family: 'Nunito Sans';
  font-size: 28px;
  font-weight: 600;
}

.catalog-preview .product-title {
  display: inline-block;
  position: relative;
  margin: 16px 0 0 40px;
}

.product-tile .product-title h1 {
  font-family: 'Nunito Sans';
  font-size: 36px;
  font-weight: 600;
}

.product-tile .product-title p {
  font-size: 18px;
  font-style: italic;
  font-weight: 300;
}

.product-tile .product-description p {
  display: inline-block;
  margin-top: 10px;
  padding: 16px 26px;
  font-size: 21px;
  font-family: 'Nunito Sans';
  font-weight: 200;
}

.product-tile .product-description p::before {
  content: '';
  display: block;
  height: 1px;
  width: 480px;
  background-color: lightgray;
  margin-bottom: 22px;
}

.margin-div {
  margin: 0 142px 0 142px;
  font-family: 'Nunito Sans';
}

.properties-header h1 {
  display: inline-block;
  margin: 81px 0 0 0;
  font-size: 36px;
  font-weight: 600;
  color: #707070;
}

.properties-header ul {
  float: right;
  list-style-type: none;
  margin-top: 89px;
}

.properties-header li {
  display: inline;
}

.properties-header li a {
  text-decoration: none;
  font-size: 24px;
  font-weight: 400;
  padding-left: 40px;
  color: #707070;
}

.properties-header li:last-child a {
  color: #46EADA;
}

.property-catalog {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
  margin-top: 64px;
}

.property-catalog .property-tile {
  background-color: #F5F5F5;
  margin-bottom: 19px;
  border: 1px solid #F5F5F5;
  border-radius: 8px;
}

.property-price {
  display: inline-block;
  position: relative;
  margin: 18px 30px 0 19px;
}

.property-price p {
  font-size: 12px;
  font-weight: 600;
}

.property-price span {
  font-size: 24px;
  font-weight: 700;
}

.property-description {
  float: right;
  margin: 14px 155px 13px 22px;
}

.property-description h1 {
  font-size: 21px;
  font-weight: 600;
}

.property-description p {
  font-size: 16px;
  font-weight: 300;
}

.trusted-header h1 {
  position: relative;
  margin: 81px 0 65px 0;
}

.agent-catalog {
  display: flex;
  justify-content: space-between;
}

.agent-catalog .agent-tile {
  background-color: #F5F5F5;
  margin-bottom: 185px;
  margin-left: 10px;
}

.agent-tile .agent-image {
  text-align: center;
  margin-top: 46px;
}

.agent-tile .agent-image .rounded-corners {
  border-radius: 50%;
  border: 15px solid white;
}

.agent-tile .agent-description h1, h2 {
  text-align: center;
}

.agent-tile .agent-description h1 {
  font-size: 36px;
  font-weight: 600;
  padding-top: 66px;
}

.agent-tile .agent-description h2 {
  font-size: 32px;
  font-weight: 300;
  font-style: italic;
  color: #B5B5B5;
  padding: 13px 0 22px 0;
}

.agent-tile .agent-description p {
  display: block;
  margin: 0 49px 0 49px;
  font-size: 24px;
  font-weight: 300;
}

.agent-catalog .agent-tile button {
  width: 532px;
  height: 93px;
  background-color: #46EADA;
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: 31px;
  font-size: 28px;
  font-weight: 600;
}

.agent-catalog .agent-tile button:hover {
  cursor: pointer;
}
.agent-description p:nth-of-type(2) {
  margin-top: 5px;
}

.agent-description p:nth-of-type(3) {
  margin-top: 10px;
}

.news-container {
  position: relative;
  top: 81px;
}

.news-container .news-header h1 {
  position: relative;
  display: inline-block;
  top: 0;
  font-size: 36px;
  font-weight: 600;
}

.news-container .news-header a {
  position: absolute;
  top: 10px;
  right: 10px;
  text-decoration: none;
  font-size: 24px;
  font-weight: 400;
  color: #707070;
}

.news-main {
  display: flex;
  justify-content: space-between;
  margin-top: 65px;
}

.news-main .news-tile {
  max-width: 532px;
  background-color: #F5F5F5;
  border-radius: 10px;
}

.news-main .news-tile h1{
  text-align: center;
  font-size: 36px;
  font-weight: 600;
}

.news-main .news-tile p {
  margin: 15px 44px 21px 30px;
  font-size: 24px;
  font-weight: 200;
}

.contact-div h1 {
  position: relative;
  top: 200px;
  font-size: 36px;
  font-weight: 600;
}

.contact-div .form-div {
  position: relative;
  top: 250px;
}

.contact-div .form-div input {
  height: 84px;
  width: 520px;
  text-align: center;
  margin-left: 5px;
}

.contact-div .form-div textarea {
  margin-top: 30px;
}

.contact-div .form-div button {
  width: 256px;
  height: 84px;
  background-color: #46EADA;
  border-radius: 7px;
  margin-top: 30px;
  position: absolute;
  right: 25px;
  top: 718px;
}










