*{
  margin: 0;
  padding: 0;
}

.header-top {
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 25px;
}

.header-top ul {
  list-style-type: none;
  position: absolute;
  top: 3px;
  right: 65px;
}

.header-top li {
  display: inline;
  padding-left: 60px;
  color: white;
  font-family: 'Exo';
  font-weight: 300;
}

.header-bottom {
  background-color: #E5E5E5;
  width: 100%;
  height: 55px;
}

.header-bottom ul {
  list-style-type: none;
  position: absolute;
  top: 40px;
  right: 30px;
}

.header-bottom li {
  display: inline;
  padding-left: 40px;
  color: #707070;
  font-size: 21px;
  font-family: 'Exo';
  font-weight: 300;
}

.header-bottom a:link {
  color: black;
  text-decoration: none;
}

.header-bottom a:visited {
  color: black;
  text-decoration: none;
}

.header-bottom a:hover {
  color: black;
  text-decoration: none;
}

.header-bottom a:active {
  color: black;
  text-decoration: none;
}

.header-bottom h1 {
  position: absolute;
  left: 10px;
  top: 34px;
  font-size: 32px;
  font-family: 'Exo';
  font-weight: 600;
  color: #707070;
}

.background {
  background-image: url("../images/background.jpg");
  height: 900px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 80px;
}

.div-form {
  position: absolute;
	top: 50%;
	left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.75);
  padding: 50px;
  border-radius: 15px;
}

.div-form p {
  font-family: 'Nunito Sans';
  text-align: center;
  font-size: 32px;
  color: #D5D5D5;
}

.div-form .search-box {
  height: 31px;
  width: 320px;
  border-radius: 3px;
  margin-top: 20px;
}

.div-form .submit-button {
  height: 34px;
  width: 80px;
  background-color: #46EADA;
  color: white;
  border: 2px solid #46EADA;
  border-radius: 3px;
}

.div-form .submit-button:hover {
  cursor: pointer;
}

.features-header h1 {
  display: inline-block;
  position: relative;
  color: #707070;
  font-family: 'Nunito Sans';
  margin: 80px 0 0 142px;
  font-size: 36px;
}

.features-header ul {
  display: inline-block;
  text-align: right;
  position: absolute;
  right: 158px;
  margin-top: 80px;
}

.features-header ul li {
  display: inline-block;
}

.features-header ul li:nth-child(3) a {
  color: #46EADA;
}

.features-header ul a {
  display: inline-block;
  text-decoration: none;
  margin-left: 44px;
  color: #707070;
  font-size: 24px;
  font-family: 'Nunito Sans';
  font-weight: 600;
}

.catalog-preview {
  display: flex;
  justify-content: space-between;
  margin: 64px 142px 185px 142px ;
}

.catalog-preview .product-tile {
  background-color: #F5F5F5;
  font-family: 'Nunito Sans';
  font-weight: 600;
  width: 533px;
}

.product-tile .product-price {
  display: inline-block;
  margin: 16px 0 0 30px;
}

.product-tile .product-price p {
  font-family: 'Nunito Sans';
  font-weight: 300;
  font-size: 18px;
}

.product-tile .product-price span {
  font-family: 'Nunito Sans';
  font-size: 28px;
  font-weight: 600;
}

.catalog-preview .product-title {
  display: inline-block;
  position: relative;
  margin: 16px 0 0 40px;
}

.product-tile .product-title h1 {
  font-family: 'Nunito Sans';
  font-size: 36px;
  font-weight: 600;
}

.product-tile .product-title p {
  font-size: 18px;
  font-style: italic;
  font-weight: 300;
}

.product-tile .product-description p {
  display: inline-block;
  margin-top: 10px;
  padding: 16px 26px;
  font-size: 21px;
  font-family: 'Nunito Sans';
  font-weight: 200;
}

.product-tile .product-description p::before {
  content: '';
  display: block;
  height: 1px;
  width: 480px;
  background-color: lightgray;
  margin-bottom: 22px;
}



